
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}
/* Header============================================================ */
.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo {
  width: 228px;
  height: 30px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: auto 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 4;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

.link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustation {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
}

/* Discription============================================================ */

.two-columns {
  display: flex;
  margin: 100px auto;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin:0;
  padding: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* Digits============================================================ */

.section-title, .section-subtitle {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  z-index: 10;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_light {
  margin-top: 20px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.table_theme_light {
  width: 1100px;
  margin: 0px auto 100px;
}

.table__cell_theme_light {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_theme_light {
  margin-top: 20px;
}



/* feynman============================================================ */

.feynman {
  box-sizing: border-box;
  position: relative;
  min-height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  z-index: 4;
}

.feynman__title {
  margin: 0 auto 70px;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 3;
}

.feynman__subtitle {
  margin: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feyman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* Kaufman============================================================ */

/* и элемента с модификатором вида ключ-значение */
.kaufman {
  width: 100%;
  position: relative;
  background-color: #1f1f1f;
  padding-top: 80px;
  padding-bottom: 90px;
  overflow: hidden;
}

.section-title_theme_dark, .section-subtitle_theme_dark {
  position: relative;
  color: #fff;
  width: 60%;
  z-index: 3;
}

.section-title_theme_dark {
  margin-bottom: 20px;
  z-index: 3;
}

.table_theme_dark {
  width: 1100px;
  margin: 0 auto;
}

.table__text_theme_dark {
  margin-top: 20px;
}

.table__cell_theme_dark {
  width: 200px;
  color: #fff;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
}

/* footer============================================================ */

.footer {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;

}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  color: #fff;
}

.list {
  margin: 0;
  padding: 0;
}

.footer__list {
  margin-bottom: 16px;
  list-style: none;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
 }

 .footer__column-links:last-child {
  margin-bottom: 16px;
 }
